<div class="container" style="border:black">
  <div class="text-center">
    <div class="row">
      <h3>You are buying a card for:</h3>
    </div>
    <div class="row">
      <label>From:</label><h2><%= @departure.from %></h2>
      <label>To:</label><h2><%= @departure.to %></h2>
    </div>
    <div class="row">
      <label>Departure time:</label><h2><%= @departure.departureDate %></h2>
      <label>Departure arrival:</label><h2><%= @departure.arrival %></h2>
    </div>
    <div class="row">
      <label>Company:</label><h2><%= @companies.find(@departure.idCompany).name %></h2>
    </div>
    <div class="row">
      <label>Price:</label><h2><%= @departure.price %></h2>
    </div>
    <div class="row">
      <label>Your name:</label><h2><%= current_user.name %></h2>
      <label>Your email:</label><h2><%= current_user.email %></h2>
    </div>
    <div class="row">
      <label>Enter your card number: </label><input type="number">
    </div>
    <div class="row">
      <%= link_to "Back",root_path, :class => "btn btn-warning"%>
      <%= button_to "Buy",buy_path(@departure), :class => "btn btn-primary"%>
    </div>

  </div>
</div>