<div class="container">
  <div class="border border-dark" style="border:black">
    <div class="row">
      <div class="pull-left">
        <%= link_to "Back",root_path, :class => "btn btn-warning"%>
      </div>
    </div>

      <div class="row">
        <div class="pull-left">
          <h3>You are buying a card for:</h3>
        </div>
      </div>
      <div class="row">
        <div class="pull-left">
          <label>From:</label><h4><%= @departure.from %></h4>
        </div>
        <div class="pull-right">
          <label>To:</label><h4><%= @departure.to %></h4>
        </div>
      </div>
      <div class="row">
        <div class="pull-left">
          <label>Departure time:</label><h4><%= @departure.departureDate %></h4>
        </div>
        <div class="pull-right">
          <label>Departure arrival:</label><h4><%= @departure.arrival %></h4>
        </div>
      </div>
      <div class="row">
        <div class="pull-left">
          <label>Company:</label><h4><%= @company.name %></h4>
        </div>
      </div>
      <div class="row">
        <div class="pull-left">
          <label>Price:</label><h4><%= @departure.price %></h4>
        </div>

      </div>
      <div class="row">
        <div class="pull-left">
          <label>Your name:</label><h4><%= current_user.name %></h4>
        </div>
        <div class="pull-right">
          <label>Your email:</label><h4><%= current_user.email %></h4>
        </div>

      </div>
      <div class="text-center">
        <%= simple_form_for @card, :url => buy_path(@departure), :html => { :method => "post" } do |f| %>
          <%= f.error_notification %>
          <div class="control-group">
            <%= f.input :idUser, :as => :hidden, :input_html => { :value => current_user.id } %>
            <%= f.text_field :cardNumber, as: :integer,required:true, autofocus:true,:pattern =>  '^\d{13,19}$',placeholder:"Card number(13 or 19 numbers)",:input_html => {:style=> 'width: 100%;'} %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Buy",:class => "btn btn-success",data: {success:"Your card have been booked, you can see it in your historyd"} %>
          </div>
        <% end %>
      </div>
  </div>
</div>